/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
#main{
    width: 100%;
    background-color: white;

}
#home{
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
}
#nav{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    width: 100px;
}
#nav #right {
    display: flex;
    align-items: center;
    gap: 5px;
}
#nav a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    letter-spacing: -0.7px;
    font-size: 10px
}

#nav i {
    margin-top: 1px;
    font-size: 20px;
}
#home #homemain{
    width: 100%;
    padding: 15vw 15vw;
} 
#homemain h1 {
    font-weight: 400;
    letter-spacing: -.1vw;
    font-size: 1.2vw;
}
.headings{
    display: flex;
    gap: 40px;
}
#homemain .headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px #000; 
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -2px;

}
#homemain .headings h1:hover {
    color: black;
}
#homelast {
    padding: 5px 15vw
}
#homelast p{
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: -.08vw;
}
#homelast p::selection{
    color: white;
    background-color: black;
}
#featured {
    display: flex;
    padding: 10vw 15vw;
    flex-direction: column;
    ;
}
.fheading>h1{
    line-height: 1;
    font-size: 3vw;
    font-weight: 400;
    padding: 5px 10vw;
}

.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
#fimages {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    padding: 5px 10vw;
    
}
#fleft{
    width: 45%;
    overflow: hidden;
    height: inherit;
    /* padding: 5px 15vw; */

}

*::selection{
    color: white;
    background-color: black;
}
.fleftele {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fleftele h1 {
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;;
}

.fleftele h3{
    font-size: 1.3vw;
    font-weight: 400;
}
.fleftele h4{
    opacity: 0.5;
}
#fright{
    width: 55%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#fright .images {
    width: 90%;
    height: 90%;
    background-color: red;
}
#fright .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btndiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
}
.btndiv button {
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 1.5px solid grey;
    background-color: white;
    font-size: 1.3vw;
    font-weight: 500;
    letter-spacing: -1px;
}
#dev {
    width: 100%;
    padding: 5vw 15vw;
}
#dev h1 {
    font-size: 3.8vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}

#dev p {
    font-size: 1.5vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 60%;
}
.slide {
    width: 30%;
}
#slides{
    display: flex;
    padding: 3vw 10vw;
    justify-content: space-between;
}
.slide .img{
    width: 100%;
    height: 270px;
    background-color: yellow;
}
.slide .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}
.slide .tag {
    margin: 20px 0px;
    background-color: #f7f7f7;
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;

}
.slide h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5px;
}
/* --------------------------- */
#dev2 {
    width: 100%;
    padding: 5vw 15vw;
}
#dev2 h1 {
    font-size: 3.8vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}

.slide2 {
    width: 30%;
}
#slides2{
    display: flex;
    padding: 3vw 10vw;
    justify-content: space-between;
}
.slide2.img{
    width: 100%;
    height: 270px;
    background-color: yellow;
    gap: 5px;
}
.slide2 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}
.slide2 .tag {
    margin: 20px 0px;
    background-color: #f7f7f7;
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;

}
.slide2 h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5px;
}